@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>Password Reset Successful</h2>

<p>@ViewBag.Message</p>

<p><a asp-controller="Company" asp-action="LoginCompany">Go to Login</a></p>
